Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.2
Flask-WTF==1.1.1
Werkzeug==2.3.7
python-dotenv==1.0.0
email-validator==2.0.0.post2
Flask-Migrate==4.0.5
Pillow==10.0.0
python-slugify==8.0.1
Flask-Mail==0.9.1
Flask-Babel==3.1.0
Flask-Caching==2.0.2
Flask-Limiter==3.3.1
Flask-Assets==2.0
markdown2==2.4.10
bleach==6.0.0
PyJWT==2.8.0
Flask-OAuthlib==0.9.6
Flask-SSLify==0.1.5
Flask-Sitemap==0.4.0
Flask-Analytics==0.6.0
Flask-Compress==1.13
Flask-SeaSurf==1.1.1
Flask-Talisman==1.0.0
PyMySQL==1.1.0
python-json-logger==2.0.7
pyOpenSSL==23.2.0
humanize==4.9.0
python-magic==0.4.27
psycopg2-binary==2.9.9
